h1 {
  font-family: 'Bangers', cursive;
  font-size: 36px;
  text-shadow: 4px 4px 4px #aaa
}

.tooltip {
  position: absolute;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: '5px';
  background-color: white;
}

.info {
  position: static;
  border: 2px solid skyblue;
  border-radius: 8px;
}

